<style>

.node text {
  font: 14px sans-serif;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.normal-link {
  stroke: #555;
  fill: none;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.path-link {
  stroke: red;
  fill: none;
  stroke-opacity: 0.4;
  stroke-width: 3px;
}

.member {
	stroke-width: 1.5;
}

.turnRedPivot {
  fill: red;
  stroke: black;
  stroke-width: 3;
  r: 25;
}

.turnRedOther {
  fill: white;
  stroke: red;
  stroke-width: 3;
  r: 25;
}

.pathCircle {
  fill: red;
  stroke: red;
  stroke-width: 3;
  r: 5;
}

.normalCircle {
  fill: white;
  stroke: black;
  stroke-width: 3;
  r: 20;
}

p {
  height: 50px;
}
</style>
<div class="treeDiv">
	<h5>Tree Diagram</h5>
  <div class="row"></div>
  <p>{{relation}}</p>
</div>