<style>

/*.node circle {
  fill: #999;
}*/

.node text {
  font: 12px sans-serif;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

/*.node--internal circle {
  fill: #555;
}*/

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.member {
	fill: purple;
}

.turnRed {
  fill: red;
}
</style>
<div class="treeDiv">
	<h5>Tree Diagram</h5>
  <h5>First person: {{firstPerson.data.name}}</h5>
  <h5>Second person: {{secondPerson.data.name}}</h5>
</div>