<style>

.node text {
  font: 14px sans-serif;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.normal-link {
  stroke: #555;
  fill: none;
  stroke-opacity: 0.4;
  stroke-width: 1px;
}

.path-link {
  stroke: black;
  fill: none;
  stroke-opacity: 0.4;
  stroke-width: 3px;
}

.member {
	stroke-width: 1.5;
}

.circle {
  fill: white;
  stroke: black;
  stroke-width: 3;
  r: 20;
}

.selectedCircle {
  fill-opacity: 0.0;
}

.hoverCircle {
  fill-opacity: 0.2;
}

.pathCircle {
  fill-opacity: 0.2;
}

.normalCircle {
  fill-opacity: 0.7;
}

p {
  height: 50px;
}

pattern{
  x: 0;
  y: 0;
  height: 40px;
  width: 40px;
}

image{
  x: 0;
  y: 0;
  height: 40px;
  width: 40px;
}
</style>
<div class="treeDiv">
	<h5>Tree Diagram</h5>
  <div class="row"></div>
  <p>{{relation}}</p>
</div>